name: OSV-Scanner
on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  scan-pr:
    permissions:
      actions: read            # Required to upload SARIF file to CodeQL
      security-events: write   # Require writing security events to upload
      contents: read           # for checkout
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@b77c075a1235514558f0eb88dbd31e22c45e0cd2" # v2.3.0
